<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎥</text></svg>">
    <title> Video</title>
</head>

<body>
    <div id="container">
        <form method="post" action="{% url 'result_image' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>Object url</label>
                <input type="text" name="obj_link" class="form-control" placeholder="Url to Object image">
            </div>
            <div class="form-group">
                <label>Background url</label>
                <input type="text" name="bg_link" class="form-control" placeholder="Url to Background image">
            </div>
            <input type="submit" value="OK" class="btn btn-primary">
        </form>
        {% if obj_link != Null %}
        <ul>
            <li>Object Image <br> <img src={{obj_link}} height="100px"></li>
            <li>Background Image <br> <img src={{bg_link}} height="100px"></li>
            <!-- {% if img_path != Null %}
                {% load static %}
                    <li>Result<img src="{% static img_path %}" height="100px"></li>
            {% endif %} -->
        </ul>
        {% endif %}
    </div>
    <style>
        body {
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
        }

        #container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</body>

</html>