<head>
    <title>Nhung cau ban de thuong</title>
</head>
<body>

    <form method="post" action="{% url 'result_image' %}">
        {% csrf_token %}
        <label>Your object url</label>
        <br>
        <input type="text" name="obj_link">
        <br>
        <label>Your background url</label>
        <br>
        <input type="text" name="bg_link">
        <br>
        <input type="submit" value="OK">
    </form>
    {% if obj_link != Null %}
    <ul>
        <li>Object Image <br> <img src={{obj_link}} height="100px"></li>
        <li>Background Image <br> <img src={{bg_link}} height="100px"></li>
        <!-- {% if img_path != Null %}
            {% load static %}
                <li>Result<img src="{% static img_path %}" height="100px"></li>
        {% endif %} -->
    </ul>
    {% endif %}
    <style>
        form {
            padding-left: 50px;
        }
    </style>
</body>